header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vh;
  gap: 20px;
  padding: 10px;
  align-self: center;
  text-align: center;
  font-size: clamp(10px, 3vw, 20px);

  button {
    padding: 10px clamp(5px, 3vw, 20px);
    font: inherit;
    color: var(--theme-text-color);
    background: transparent;
    border: 2px solid var(--theme-border-color);
    transition: background-color .5s ease;

    &:hover {
      background: var(--theme-accent-color);
    }
  }
}

